<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>My Todo list</h1>
    <div id="todo-table">
      <form action="">
        <input type="text" name="item" placeholder="Add a todo" />
        <button type="submit">Add Item</button>
      </form>
    </div>
    <ul>
      <% data.forEach(data => { %>
      <li><%= data.item %></li>
      <% }) %>
    </ul>
  </body>
</html>
